@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav--top {
  width: auto;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}

.nav_logotext {
  font-size: 1.5em;
  padding: 25px;
  color: white;
  font-weight: bold;
  margin: 0px 50px;
}

.nav_links a {
  display: inline;
  padding: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 10px;
  font-weight: bold;
}

.header--top {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
}

.header-img {
    width: 250px;
    height: 200px;
    border-radius: 5px;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 390px;
}

.hero_maintext {
  font-size: 3.9em;
  font-weight: bold;
  margin: 10px;
  color: white;
  align-self: center;
}

.hero_subtext {
  font-size: 18px;
  font-weight: 600;
  margin: 15px;
  color: #e5e7eb;
  align-self: center;
  width: 350px;
  text-align: center;
}

.hero_button {
  background-color: rgb(173, 35, 35);
  width: 100px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.nosotros--section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: rgb(173, 35, 35);
}

.random-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 35px;
}

.img_box {
  background-color: cyan;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 25px;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.527);
}

.img_text {
  height: 150px;
  width: 250px;
  font-size: 1em;
  padding: 10px;
  text-align: center;
  color: white;
}

.quote--section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 390px;
  background-color: #1f2937;
}

.quote_text {
  width: 550px;
  height: auto;
  text-align: center;
  font-size: 1.5em;
  color: white;
}

.quote_autor {
  font-size: 0.7em;
  font-style: italic;
}

.callto--section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 390px;
  background-color: rgb(173, 35, 35);
}

.callto-container {
  width: 600px;
  height: 100px;
  background-color: rgb(142, 88, 204);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.527);
  color: white;
}

.callto_button {
  background-color: rgb(173, 35, 35);
  width: 100px;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.footer--section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: white;
  background-color: #1f2937;
}
